{% extends 'base.html' %}

{% block title %}
<title>Editar Perfil</title>
{% endblock title %}

{% block h1text %}
Editar Perfil {{request.user.username}}
{% endblock h1text %}

{% block post_header %}
<p>
    <a href={% url 'perfil' %}> Volver</a>
</p>
<p>
   <form action={% url "editar_perfil" %} method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
       <button>Editar</button> 
    </form>
</p>

{% endblock post_header %}