{% extends 'base.html' %}

{% block title %}
<title>Perfil</title>
{% endblock title %}

{% block h1text %}
Perfil {{request.user.username}}
{% endblock h1text %}

{% block post_header %}
<p>
    <ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>Descripcion: {{request.user.descripcion}}</li>
        <li>Link: {{request.user.link}}</li>

        <LI>
           <p>Avatar: </p>
           {% if request.user.moreuserdata.avatar %}
            <img src={{request.user.moreuserdata.avatar.url}} alt="" height="100px">
            {% endif %}
        </LI>

    </ul>
</p>
<p>
    <a href={% url 'editar_perfil' %}> Editar Perfil</a>
</p>

{% endblock post_header %}