{% extends 'base.html' %}

{% block title %}
<title>Crear Blog</title>
{% endblock title %}

{% block h1text %}
Crear Blog
{% endblock h1text %}

{% block post_header %}
<p>
    <a href={% url 'listado_blogs' %}> Volver</a>
</p>
<p>
   
    <form action={% url 'crear_blog' %} method="POST" enctype= "multipart/from.data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
       <button>Crear</button> 
    </form>
</p>

{% endblock post_header %}