{% extends 'base.html' %}

{% block title %}
<title>Editar Blog</title>
{% endblock title %}

{% block h1text %}
Editar Blog
{% endblock h1text %}

{% block post_header %}
<p>
    <a href={% url 'listado_blogs' %}> Volver</a>
</p>
<p>
   <form action={% url 'editar_blog' blog.id %} method="post" enctype = "multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
       <button>Editar</button> 
    </form>
</p>

{% endblock post_header %}