{% extends 'base.html' %}

{% block title %}
<title>Blog List</title>
{% endblock title %}

{% block h1text %}
Blog List
{% endblock h1text %}


{% block post_header %}
<p>
    <a href={% url 'create_blog' %}>Create Blog</a> 

</p>
<p>
    <form action={% url 'listado_blogs' %}>
        {{form}}
        <button>Search</button>
    </form>
</p>
<p>
    {% comment %} {% if object_list%}
    <ul>
        {% for blog in object_list %}
        <li>
            {{blog}}
            <a href={% url 'edit_blog' blog.id %}>edit</a> 
            <a href={% url 'delete_blog' blog.id %}>delete</a>
            <a href={% url 'readmore_blog' blog.id %}>read more</a>
            


        </li>
        
        {% endfor %} {% endcomment %}
   </ul>
    {% comment %} {% else %}
    No hay resultado en la busqueda
    {% endif %} {% endcomment %}
</p>


{% endblock post_header %}